/* FONTS -------------------------------------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

/*  ------------------------------------------------------------------------------------------------- */

.body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 1rem;
}

/* NavBar -------------------------------------------------------------------------------------------- */

.btn-bg {
    box-shadow: #32325d40 0px 13px 27px -5px, #0000004d 0px 8px 16px -8px;
    background-color: #eece7d; 
    color: #264653;
    font-size: 1rem;
    font-weight: 600;
    max-width: 150px;
}

.btn-bg:hover{
    color: #fff !important;
    background-color: #d9b049;
}

.navbar-container{
    z-index: 100;
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
}


.shadow-bottom {
    box-shadow: #32325d40 0px 6px 12px -2px, #0000004d 0px 3px 7px -3px;
}

/* Main ---------------------------------------------------------------------------------------------- */

.main{
    flex: 1;
}


/* Formulario ----------------------------------------------------------------------------------------- */

.is-invalid{
    border-color: red;
}

.invalid-feedback {
    display: block;
    color: red;
    margin-top: .25rem;
    font-size: .8rem;
}

/* Welcome -------------------------------------------------------------------------------------------- */

.main_welcome{
    background-image: url(/public/images/logo_ventapopclaro.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Pacifico', cursive;
}

th{
    width: 30px;    
}

/* Card ----------------------------------------------------------------------------------------------- */

.my-card {
    width: 16rem;
    height: 26rem;
}

.card-container {
    box-shadow: #00000042 0px 4px 12px;
    overflow: hidden;
}

.card-text {
    display: flex;
    flex-direction: column;
    bottom: -50%;
    opacity: 0;
    transition: all .5s ease-in-out;
    left: 0;
    border: none;
    width: 16rem;
    height: 80%;
    background-color: #ffffffcc;
    padding: 1rem;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

.text-view{
    bottom: 0;
    opacity: 1;
}

.card-img{
    width: 16rem;
    height: 22rem;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn-success{
    background-color: #187E80;
    border-color: transparent;
}

.btn-success:hover {
    color: #000;
    background-color: #98D7C2;
    border-color: transparent;
}

/* Carrousel indicadores ----------------------------------------------------------------------------- */

.btn-prev{
    background-color: #187E80;
    padding-top: .5em;
    padding-right: .7em;
    box-shadow: #32325d40 0px 13px 27px -5px, #0000004d 0px 8px 16px -8px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.btn-next{
    background-color: #187E80;
    padding-top: .5em;
    padding-left: .7em;
    box-shadow: #32325d40 0px 13px 27px -5px, #0000004d 0px 8px 16px -8px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.paginacion{
    width: 400px;      /* Faltaría ajustarlo para el responsive */
}
/* Footer -------------------------------------------------------------------------------------------- */

.border-footer {
    width: 100%;
    height: 2px;
    margin-bottom: 2rem;
    background-color: #275677;
}

.logo_footer{
    max-height: 5em;
}

.footer {
    height: 200px;
}

.bg_vpop{
    background-color: #55a2a1ff;
}

.bg_vpop_claro{
    background-color: rgba(85, 162, 161, 0.533);
    
}
