.logo_footer{
    max-height: 5em;
}

.body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main{
    flex: 1;
}

.footer {
    height: 200px;
}

.bg_vpop{
    background-color: #55a2a1ff;
}

.bg_vpop_claro{
    background-color: rgba(85, 162, 161, 0.533);
    
}