@import '~flag-icon-css/css/flag-icons';

/* FONTS -------------------------------------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

/* ICONOS -------------------------------------------------------------------------------------------- */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

/*  ------------------------------------------------------------------------------------------------- */

.body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}

.text-light {
    color: #F2F2F2 !important;
}

.text-primary {
    color: #189AB4 !important;
}

.bg-primary {
    background-color: #189AB4 !important;
}

.btn-primary {
    background-color: #189AB4;
    border: none;
    border-radius: 50px !important;
    -webkit-border-radius: 50px !important;
    -moz-border-radius: 50px !important;
    -ms-border-radius: 50px !important;
    -o-border-radius: 50px !important;
}

.btn-primary:hover {
    background-color: #05445E !important;
}


/* NavBar -------------------------------------------------------------------------------------------- */

.logo {
    font-family: 'Dancing Script', cursive;
    font-size: 3.5rem;
    padding: 0;
    line-height: 70px;
}

.logo-login {
    font-size: 6rem;
}

.my-navbar {
    background-color: #F2F2F2 !important;
}


.links-navbar a {
    color: #189AB4;
}

.btn-bg {
    color: #F2F2F2 !important;
    box-shadow: #32325d40 0px 13px 27px -5px, #0000004d 0px 8px 16px -8px;
}

.btn-bg:hover {
    color: #fff !important;
    background-color: #189AB4;
}

.navbar-container {
    z-index: 100;
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;

}

.shadow-bottom {
    box-shadow: #32325d40 0px 6px 10px -3px, #0000004d 0px 3px 7px -3px;
}

.search-container {
    width: 100%;
}


.search-bar {
    bottom: -20%;
}

.search-container-input {
    width: 70%;
}

.search-input {
    border: 4px solid #F2F2F2;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.boton_idioma{
    min-width: 100px;
    background-color:rgba(242, 242, 242, 0);
    color: #189AB4;
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
}

.menu_idioma_ul {
    min-width: 50px;
}

/* Main ---------------------------------------------------------------------------------------------- */

.login-register {
    margin-top: 120px;
}

.main-hero {
    width: 100% !important;
    height: 45vh;
    background-image: linear-gradient(#189ab4e9, #189ab4e9), url('/public/images/secon.png');
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-slogan {
    display: flex;
    justify-content: center;
    align-items: center;
}


.slogan {
    font-size: 7rem;
    margin: 0;
    color: #F2F2F2;
    font-family: 'Dancing Script', cursive;
}

.slogan-bottom {
    font-family: 'Dancing Script', cursive;
    color: #F2F2F2;
    font-size: 2.2rem;

}

.slogan-bottom h3 {
    color: #F2F2F2;
    font-family: 'Dancing Script', cursive;
}

.categories {
    width: 100%;
    height: 95px;
    background-color: #f2f2f2;
    bottom: 0;
    border-radius: 40px 40px 0 0;
    -webkit-border-radius: 40px 40px 0 0;
    -moz-border-radius: 40px 40px 0 0;
    -ms-border-radius: 40px 40px 0 0;
    -o-border-radius: 40px 40px 0 0;
    border-bottom: 2px solid #189AB4;
}

.list-categories {
    height: 100%;
}

.main {
    flex: 1;
    background-color: #F2F2F2 !important;
}

.title-page {
    font-size: 1.5rem;
    margin-top: 5rem;
    background-color: #189AB4;
    width: 25%;
    height: 40px;
    border-radius: 40px 40px 0 0;
    -webkit-border-radius: 40px 40px 0 0;
    -moz-border-radius: 40px 40px 0 0;
    -ms-border-radius: 40px 40px 0 0;
    -o-border-radius: 40px 40px 0 0;
}

.line-title {
    width: 100%;
    height: 3px;
    background-color: #189AB4;
}

.categories-link:hover{
    background-color: #189ab455;
    border-radius: 5px;    
}

.title-page-bottom {
    font-size: 1.5rem;
    margin-top: 5rem;
    background-color: #189AB4;
    width: 50%;
    height: 40px;
    border-radius: 40px 40px 0 0;
    -webkit-border-radius: 40px 40px 0 0;
    -moz-border-radius: 40px 40px 0 0;
    -ms-border-radius: 40px 40px 0 0;
    -o-border-radius: 40px 40px 0 0;
}


/* Formulario ----------------------------------------------------------------------------------------- */

.is-invalid {
    border-color: red;
}

.invalid-feedback {
    display: block;
    color: red;
    margin-top: .25rem;
    font-size: .8rem;
}

/* Welcome -------------------------------------------------------------------------------------------- */

.main_welcome {
    background-image: url(/public/images/logo_ventapopclaro.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lobster', cursive;
}

.blur{
    backdrop-filter: blur(2px);
}

th {
    width: 30px;
}

.nuevo_articulo {
    position: absolute;
    top: 5%;
    right: 80%;
    z-index: 2;
}

.carousel_welcome{
   height: 50vh;
   overflow: hidden;
}

.imagen_carousel{
    height: 400px;
    background-clip: content-box;
    border-top: #189AB4 solid 5px;
    border-left: #189AB4 solid 5px;
    border-top-left-radius: 200px;   
}

.carousel_container_text{
    background-color: #189ab480;
    backdrop-filter: blur(20px);    
}



/* Card ----------------------------------------------------------------------------------------------- */

.my-card {
    width: 16rem;
    height: 25rem;
}

.card-container {
    box-shadow: #00000042 0px 4px 12px;
    overflow: hidden;
}

.card-text {
    display: flex;
    flex-direction: column;
    bottom: -50%;
    opacity: 0;
    transition: all .5s ease-in-out;
    left: 0;
    border: none;
    width: 16rem;
    height: 80%;
    background-color: #ffffffe5;
    padding: 1rem;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

.text-view {
    bottom: 0;
    opacity: 1;
}

.card-img {
    width: 16rem;
    height: 21rem;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Carrousel indicadores ----------------------------------------------------------------------------- */

.btn-prev {
    background-color: #187E80;
    padding-top: .5em;
    padding-right: .7em;
    box-shadow: #32325d40 0px 13px 27px -5px, #0000004d 0px 8px 16px -8px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.btn-next {
    background-color: #187E80;
    padding-top: .5em;
    padding-left: .7em;
    box-shadow: #32325d40 0px 13px 27px -5px, #0000004d 0px 8px 16px -8px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.paginacion {
    width: 400px;
    /* Faltaría ajustarlo para el responsive */
}

/* Footer -------------------------------------------------------------------------------------------- */


.border-footer {
    width: 100%;
    height: 2px;
    margin-bottom: 2rem;
    background-color: #275677;
}

.logo_footer {
    max-height: 5em;
}

.footer {
    height: 200px;
}


.bg_vpop_claro {
    background-color: rgba(85, 162, 161, 0.533);

}

/* About -------------------------------------------------------------------------------------------- */

.nombre_about {
    font-family: 'Pacifico', cursive;
}

.fotografia_about {
    height: 300px;
    display: flex;
    justify-self: center;
}



/* Responsive web design --------------------------------------------------------------------------- */

/* 768 x 1024 ipad ---------------------------------------- */

@media (max-width: 768px) {
    .logo {
        font-size: 2rem;
        padding: 0;
        line-height: 70px;
    }

    .main-hero {
        height: 25vh;
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;

    }

    .card-xs {
        display: flex;
        justify-content: center;
        width: 45%;
    }

    .categories {
        display: none;
    }

    .slogan {
        font-size: 4rem;
    }

    .slogan-bottom {
        right: 90px;
        font-size: 1.5rem;
    }

    .title-page {
        margin-top: 4rem;
        width: 40%;
        height: 35px;
        font-size: 1rem;
    }

    .btn-up-item {
        padding: .4rem 1.2rem;
        margin: 1rem 0;
    }

    .footer-container {
        text-align: center;
        display: flex;
        align-items: center;
        font-size: .65rem;
    }


}



/* 375 x 667 iphone 6 ---------------------------------------*/
@media (max-width: 375px) {
    .logo {
        font-size: 2rem;
        padding: 0;
        line-height: 70px;
    }

    .main-hero {
        height: 35vh;
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;

    }

    .slogan {
        font-size: 2.5rem;
    }

    .slogan-bottom {
        right: 90px;
        font-size: 1rem;
    }

    .categories {
        display: none;
    }

    .search-container {
        display: none;
    }

    .title-page {
        margin-top: 4rem;
        width: 80%;
        height: 35px;
    }

    .title-page {
        font-size: 1rem;
    }

    .btn-up-item {
        padding: .4rem 1.2rem;
        margin: 1rem 0;
    }

    .my-card {
        width: 10rem;
        height: 15rem;
        font-size: .8rem;
    }

    .card-xs {
        display: flex;
        justify-content: center;
        width: 50%;
    }

    .card-text {
        text-align: center;
        width: 10rem;
        height: 100%;
    }

    .card-img {
        width: 10rem;
        height: 16rem;
    }

    .title-card {
        font-size: .8rem;
    }

    .card-btn {
        font-size: .7rem;
        padding: .4rem 1rem;
    }

    .footer-container {
        text-align: center;
        display: flex;
        align-items: center;
        font-size: .75rem;
    }

    .nav-footer {
        display: flex;
        justify-content: center;
        padding: 0;
    }

}

/* 320 x 568 iphone 5 ------------------------------------*/
@media (max-width: 320px) {
    .logo {
        font-size: 1.5rem;
        padding: 0;
        line-height: 70px;
    }

    .main-hero {
        height: 35vh;
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
    }

    .slogan {
        font-size: 2rem;
    }

    .slogan-bottom {
        right: 90px;
        font-size: .8rem;
    }

    .categories {
        display: none;
    }

    .search-container {
        display: none;
    }

    .title-page {
        margin-top: 4rem;
        width: 80%;
        height: 35px;
        font-size: 1rem;
    }

    .btn-up-item {
        padding: .4rem 1.2rem;
        margin: 1rem 0;
    }

    .my-card {
        width: 8rem;
        height: 13rem;
        font-size: .8rem;
    }

    .card-xs {
        display: flex;
        justify-content: center;
        width: 50%;
    }

    .card-text {
        text-align: center;
        width: 8rem;
        height: 100%;
    }

    .card-img {
        width: 9rem;
        height: 14rem;
    }

    .title-card {
        font-size: .8rem;
    }

    .card-btn {
        font-size: .7rem;
        padding: .4rem 1rem;
    }

    .footer-container {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: .65rem;
    }

    .nav-footer {
        display: flex;
        justify-content: center !important;
        padding: 0 !important;
    }

}
